@model demomilk.Models.SupplierMaster
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add_Supplier</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>

    <script type="text/javascript">

        // Load the Google Transliterate API
        google.load("elements", "1", {
            packages: "transliteration"
        });

        function onLoad() {
            var options = {
                sourceLanguage:
                    google.elements.transliteration.LanguageCode.ENGLISH,
                destinationLanguage:
                    [google.elements.transliteration.LanguageCode.HINDI],
                transliterationEnabled: true
            };

            // Create an instance on TransliterationControl with the required
            // options.
            var control =
                new google.elements.transliteration.TransliterationControl(options);

            // Enable transliteration in the textbox with id
            // 'transliterateTextarea'.
            control.makeTransliteratable(['VendorName']);
            control.makeTransliteratable(['Address']);
            control.makeTransliteratable(['ContactPerson']);

        }
        google.setOnLoadCallback(onLoad);
    </script>
</head>
<body>
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h2>Add Supplier</h2>
                <button type="button" class="close" data-dismiss="modal" onclick="abc()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-control" style="border-color: #ffffff;">
                    <label>Vendor Name:</label>
                    <div>

                        @Html.TextBoxFor(a => a.VendorName, new { @class = "form-control r-0 light s-12", placeholder = "Enter Vendor Name", title = "vendor name", @id = "VendorName" })
                        <p id="Vname" style="color:brown">Enter Vendor Name</p>
                    </div>

                </div>
                <div class="form-control" style="border-color: #ffffff;">
                    <label>Address:</label>
                    <div>
                        @Html.TextBoxFor(a => a.Address, new { @class = "form-control r-0 light s-12", placeholder = "Enter Address", title = "Address", @id = "Address" })
                        <p id="VAddress" style="color:brown">Enter Address</p>
                    </div>
                    
                </div>
                <div class="form-control" style="border-color: #ffffff;">
                    <label>Contact Person:</label>
                    <div>
                        @Html.TextBoxFor(a => a.ContactPerson, new { @class = "form-control r-0 light s-12", placeholder = "Enter Contact Person", title = "ContactPerson", @id = "ContactPerson" })
                        
                    </div>

                </div>
                <div class="form-control" style="border-color: #ffffff;">
                    <label>Monile No:</label>
                    <div>
                        @Html.TextBoxFor(a => a.PersonMobileNo, new { @class = "form-control r-0 light s-12", placeholder = "Enter Person Mobile No", title = "Person Mobile No", @id = "PersonMobileNo" })
                        <p id="Mobileno" style="color:brown">Enter 10 Digit Mobile Number</p>
                    </div>

                </div>
                <div class="form-control" style="border-color: #ffffff;">
                    <label>Office Number:</label>
                    <div>
                        @Html.TextBoxFor(a => a.OfficeNumber, new { @class = "form-control r-0 light s-12", placeholder = "Enter Office Number", title = "OfficeNumber", @id = "OfficeNumber" })
                    </div>

                </div>

                <div class="form-control" style="border-color: #ffffff;">
                    <label>Email ID:</label>
                    <div>
                        @Html.TextBoxFor(a => a.EmailID, new { @class = "form-control r-0 light s-12", placeholder = "Enter Email ID", title = "EmailID", @id = "EmailID" })
                    </div>

                </div>

                <div class="form-control" style="border-color: #ffffff;">
                    <label>Fax Number:</label>
                    <div>
                        @Html.TextBoxFor(a => a.FaxNumber, new { @class = "form-control r-0 light s-12", placeholder = "Enter Fax Number", title = "FaxNumber", @id = "FaxNumber" })
                    </div>

                </div>


                <div class="form-control" style="border-color: #ffffff;">
                    <label class="container">
                        Is Active
                        <input type="checkbox" id="check" checked>
                        <span class="checkmark"></span>
                    </label>
                    
                </div>

            </div>
            <div class="modal-footer">
                <input class="btn-primary" type="submit" id="btnsave" value="Save" title="ClickToSave" />
                <input type="button" class="btn-danger" id="btncancel" value="Cancel" title="ClickToCancel" data-dismiss="modal" onclick="abc();" />

            </div>

        </div>
    </div>
</body>
</html>

<script type="text/javascript">

    var str = window.location.href;
    var lastLetter = str[str.length], i, temp;
    var con = "";

    for (i = 0; i < str.length; i++) {
        if (str[i] == '=') {
            myfun(i);
            break;
        }
    }

    function myfun(temp) {

        temp = temp + 1;
        for (i = temp; i < [str.length]; i++) {

            con = con + str[i];
        }
        parseInt(con);

    }

</script>


<script>
    $('#Mobileno').hide();
    $('#Vname').hide();
    $('#VAddress').hide();

    function abc() {
         refresh();
        $('.modal-backdrop').remove();
    }
    
    $('#btnsave').on('click', function () {
        var isactive;
        var isChecked = $('#check').is(':checked');
        if (isChecked == true) {

            isactive = true;
        }
        else
        {
            isactive = false;
        }

        if ($('#VendorName').val() == "") {
            $('#Vname').show();
            $('#Mobileno').hide();
            $('#VAddress').hide();
            return false;
        }
        else if ($('#Address').val() == "")
        {
            $('#VAddress').show();
            $('#Vname').hide();
            $('#Mobileno').hide();
            return false;
        }

        if ($('#PersonMobileNo').val().length == 10 && ($.isNumeric($('#PersonMobileNo').val())) == true) {
            
        }
        else
        {
            $('#VAddress').hide();
            $('#Vname').hide();
            $('#Mobileno').show();
            return false;
        }
      
               
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/Home/Add_Supplier',

            data:
            {
                VendorName: $("#VendorName").val(),
                PersonMobileNo: $("#PersonMobileNo").val(),
                ContactPerson: $("#ContactPerson").val(),
                EmailID: $("#EmailID").val(),
                IsActive: $("#IsActive").val(),
                OfficeNumber: $("#OfficeNumber").val(),
                FaxNumber: $("#FaxNumber").val(),
                Address: $("#Address").val(),
                IsActive: isactive,
                
            },
            success: function (da) {

                alert(da);
                refresh();
                $('#mdlSupplierMaster').hide();
                $('.modal-backdrop').remove();

            },

            error: function (XMLHttpRequest, textStatus, errorThrown) {
                
            }
        });
    });


     function refresh()
    {
      
        $.ajax({
            url: "@Url.Action("LoadDataForSuppier", "Home")",
            contentType: "application/json",
            data: JSON.stringify({ page: con }),
            dataType: "text",
            type: "POST",
            async: true,
            success: function (data) {
                $('#grid1').html(data);
              
            },
            error: function (data) {
               
            },
            complete: function () {
                
                
            }

        });
    }

</script>