@model demomilk.Models.Vehical
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="icon" href="~/assets/img/basic/favicon.ico" type="image/x-icon">

    <script type="text/javascript" src="https://www.google.com/jsapi">
    </script>
    <script type="text/javascript">

        // Load the Google Transliterate API
        google.load("elements", "1", {
            packages: "transliteration"
        });

        function onLoad() {
            var options = {
                sourceLanguage:
                    google.elements.transliteration.LanguageCode.ENGLISH,
                destinationLanguage:
                    [google.elements.transliteration.LanguageCode.HINDI],
                transliterationEnabled: true
            };

            // Create an instance on TransliterationControl with the required
            // options.
            var control =
                new google.elements.transliteration.TransliterationControl(options);

            // Enable transliteration in the textbox with id
            // 'transliterateTextarea'.
            control.makeTransliteratable(['transliterateTextarea']);
        }
        google.setOnLoadCallback(onLoad);
    </script>



    <title> INSTA </title>
    <!-- CSS -->
    <link rel="stylesheet" href="~/assets/css/app.css">
    <style>

        .loader {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #F5F8FA;
            z-index: 9998;
            text-align: center;
        }

        .plane-container {
            position: absolute;
            top: 50%;
            left: 50%;
        }
    </style>
</head>
<body>
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h2>Add Vehicle</h2>
                <button type="button" class="close" data-dismiss="modal" onclick="abc()">&times;</button>
            </div>
            <div class="modal-body">
                                                                           
                <div class="form-control" style="border-color: #ffffff;">
                    <label>Transport:</label>
                    <div>
                        <textarea id="transliterateTextarea"></textarea>

                        @Html.TextBoxFor(a => a.Transport, new { @class = "form-control r-0 light s-12", placeholder = "Enter Transport", title = "Transport", @id = "Transport" })
                        <label style="color:red" id="TransportVal">*</label>
                    </div>

                </div>
                <div class="form-control" style="border-color: #ffffff;">
                    <label>Owner:</label>
                    <div>
                        @Html.TextBoxFor(a => a.Owner, new { @class = "form-control r-0 light s-12", placeholder = "Enter Owner", title = "Owner", @id = "Owner" })
                        <label style="color:red" id="OwnerVal">*</label>
                    </div>

                </div>
                <div class="form-control" style="border-color: #ffffff;">
                    <label>Mobile:</label>
                    <div>
                        @Html.TextBoxFor(a => a.Mobile, new { @class = "form-control r-0 light s-12", placeholder = "Enter Mobile", title = "Mobile", @id = "Mobile" })
                        <label style="color:red" id="MobileVal">*</label>
                    </div>

                </div>
                <div class="form-control" style="border-color: #ffffff;">
                    <label>Address:</label>
                    <div>
                        @Html.TextBoxFor(a => a.Address, new { @class = "form-control r-0 light s-12", placeholder = "Enter Address", title = "Address", @id = "Address" })
                        <label style="color:red" id="AddressVal">*</label>
                    </div>

                </div>
                <div class="form-control" style="border-color: #ffffff;">
                    <label>VechicleNo:</label>
                    <div>
                        @Html.TextBoxFor(a => a.VechicleNo, new { @class = "form-control r-0 light s-12", placeholder = "Enter VechicleNo", title = "VechicleNo", @id = "VechicleNo" })
                        <label style="color:red" id="VechicleNoVal">*</label>
                    </div>

                </div>
                <div class="form-control" style="border-color: #ffffff;">
                    <label>Rate:</label>
                    <div>
                        @Html.TextBoxFor(a => a.RatePerTrip, new { @class = "form-control r-0 light s-12", placeholder = "Enter Rate", title = "Rate", @id = "RatePerTrip" })
                        <label style="color:red" id="RateVal">*</label>
                    </div>

                </div>
                <div class="form-control" style="border-color: #ffffff;">
                    <label>Marathi Name:</label>
                    <div>
                        @Html.TextBoxFor(a => a.Marathi, new { @class = "form-control r-0 light s-12", placeholder = "Enter Marathi Name", title = "Marathi", @id = "Marathi" })
                    </div>

                </div>
                <div class="form-control" style="border-color: #ffffff;">
                    <label>PrintOrder:</label>
                    <div>
                        @Html.TextBoxFor(a => a.PrintOrder, new { @class = "form-control r-0 light s-12", placeholder = "Enter PrintOrder", title = "PrintOrder", @id = "PrintOrder" })
                        <label style="color:red" id="PrintOrderVal">*</label>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <input class="btn-primary" type="submit" id="btnsave" value="Save" title="ClickToSave" />
                <input type="button" class="btn-danger" id="btncancel" value="Cancel" title="ClickToCancel" data-dismiss="modal" onclick="abc();" />

            </div>

        </div>
    </div>
</body>
</html>
<script>
    function abc() {
        $('.modal-backdrop').remove();
    }
    $(document).ready(function () {
        $("#TransportVal").hide();
        $("#OwnerVal").hide();
        $("#AddressVal").hide();
        $("#MobileVal").hide();
        $("#VechicleNoVal").hide();
        $("#PrintOrderVal").hide();
        $("#RateVal").hide();

        getArea();
    });
    $('#btnsave').on('click', function () {
        var error = 0;
        if ($('#Transport').val() == '') {
            error = 1;
            $('#TransportVal').show();
        }
        else {
            $('#TransportVal').hide();
        }
        if ($('#Owner').val() == '') {
            error = 1;
            $('#OwnerVal').show();
        }
        else {
            $('#OwnerVal').hide();
        }
        if ($('#Address').val() == '') {
            error = 1;
            $('#AddressVal').show();
        }
        else {
            $('#AddressVal').hide();
        }
        if ($('#Mobile').val() == '') {
            error = 1;
            $('#MobileVal').show();
        }
        else {
            $('#MobileVal').hide();
        }
        if ($('#VechicleNo').val() == '') {
            error = 1;
            $('#VechicleNoVal').show();
        }
        else {
            $('#VechicleNoVal').hide();
        }
        if ($('#PrintOrder').val() == '') {
            error = 1;
            $('#PrintOrderVal').show();
        }
        else {
            $('#PrintOrderVal').hide();
        }
        if (error) {
            return false;
        }

        else {

            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/Home/AddVehical',

                data:
                {
                    Transport: $("#Transport").val(),
                    Owner: $("#Owner").val(),
                    Address: $("#Address").val(),
                    Mobile: $("#Mobile").val(),
                    VechicleNo: $("#VechicleNo").val(),
                    RatePerTrip: $("#RatePerTrip").val(),
                    Marathi: $("#Marathi").val(),
                    PrintOrder: $("#PrintOrder").val(),


                },
                success: function (da) {

                    alert(da);
                    $("#mdlAddRoute .close").click()
                    $('.modal-backdrop').remove();
                    location.reload();
                },

                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        }
    });

</script>