@model demomilk.Models.SupplierMaster
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Supplier</title>
</head>
<body>   
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h2>Edit Supplier</h2>
                <button type="button" class="close" data-dismiss="modal" onclick="abc()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-control" style="border-color: #ffffff;">
                    <label>Vendor Name:</label>
                    <div>
                        @Html.HiddenFor(a => a.VendorID, new { @class = "form-control r-0 light s-12", placeholder = "", title = "vendorid", @id = "VendorID" })
                        @Html.TextBoxFor(a => a.VendorName, new { @class = "form-control r-0 light s-12", placeholder = "Enter Vendor Name", title = "vendor name", @id = "VendorName" })
                    </div>

                </div>
                <div class="form-control" style="border-color: #ffffff;">
                    <label>Address:</label>
                    <div>
                        @Html.TextBoxFor(a => a.Address, new { @class = "form-control r-0 light s-12", placeholder = "Enter Address", title = "Address", @id = "Address" })
                    </div>
                    VendorName
                </div>
                <div class="form-control" style="border-color: #ffffff;">
                    <label>Contact Person:</label>
                    <div>
                        @Html.TextBoxFor(a => a.ContactPerson, new { @class = "form-control r-0 light s-12", placeholder = "Enter Contact Person", title = "ContactPerson", @id = "ContactPerson" })
                    </div>

                </div>
                <div class="form-control" style="border-color: #ffffff;">
                    <label>Monile No:</label>
                    <div>
                        @Html.TextBoxFor(a => a.PersonMobileNo, new { @class = "form-control r-0 light s-12", placeholder = "Enter Person Mobile No", title = "Person Mobile No", @id = "PersonMobileNo" })
                    </div>

                </div>
                <div class="form-control" style="border-color: #ffffff;">
                    <label>Office Number:</label>
                    <div>
                        @Html.TextBoxFor(a => a.OfficeNumber, new { @class = "form-control r-0 light s-12", placeholder = "Enter Office Number", title = "OfficeNumber", @id = "OfficeNumber" })
                    </div>

                </div>

                <div class="form-control" style="border-color: #ffffff;">
                    <label>Email ID:</label>
                    <div>
                        @Html.TextBoxFor(a => a.EmailID, new { @class = "form-control r-0 light s-12", placeholder = "Enter Email ID", title = "EmailID", @id = "EmailID" })
                    </div>

                </div>

                <div class="form-control" style="border-color: #ffffff;">
                    <label>Fax Number:</label>
                    <div>
                        @Html.TextBoxFor(a => a.FaxNumber, new { @class = "form-control r-0 light s-12", placeholder = "Enter Fax Number", title = "FaxNumber", @id = "FaxNumber" })
                    </div>

                </div>


                <div class="form-control" style="border-color: #ffffff;">
                    <label class="container">
                        Is Active
                        @*<input type="checkbox" id="check">*@
                        @Html.CheckBoxFor(m => m.IsActive,new { @id = "check" })
                        <span class="checkmark"></span>
                    </label>

                </div>

            </div>
            <div class="modal-footer">
                <input class="btn-danger" type="submit" id="btnDelete" value="Delete" title="ClickTodelete" />
                <input class="btn-primary" type="submit" id="btnUpdate" value="Update" title="ClickToUpdate" />
                <input type="button" class="btn-default" id="btncancel" value="Cancel" title="ClickToCancel" data-dismiss="modal" onclick="abc();" />

            </div>

        </div>
    </div>
</body>
</html>
<script>
    function abc() {
        $('.modal-backdrop').remove();
    }


    $('#btnUpdate').on('click', function () {
        var isactive;
        var isChecked = $('#check').is(':checked');
        if (isChecked == true) {

            isactive = true;
        }
        else
        {
            isactive = false;
        }


        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/Home/UpdateSupplier',

            data:
            {
                VendorID: $("#VendorID").val(),
                VendorName: $("#VendorName").val(),
                PersonMobileNo: $("#PersonMobileNo").val(),
                ContactPerson: $("#ContactPerson").val(),
                EmailID: $("#EmailID").val(),
                IsActive: $("#IsActive").val(),
                OfficeNumber: $("#OfficeNumber").val(),
                FaxNumber: $("#FaxNumber").val(),
                Address: $("#Address").val(),
                IsActive: isactive,

            },
            success: function (da) {

                alert(da);
                $('#mdlEditSupplier').hide();
                $('.modal-backdrop').remove();

            },

            error: function (XMLHttpRequest, textStatus, errorThrown) {

            }
        });
    });



    $('#btnDelete').on('click', function () {
      
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/Home/DeleteSupplier',

            data:
            {
                VendorID: $("#VendorID").val(),
                
            },
            success: function (da) {

                alert(da);
                $('#mdlEditSupplier').hide();
                $('.modal-backdrop').remove();

            },

            error: function (XMLHttpRequest, textStatus, errorThrown) {

            }
        });
    });

</script>