@model demomilk.Models.Route

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>importexcel</title>
</head>
<body>

    <div class="modal-dialog">

        <div class="modal-content" style="width: 162%; margin-left: -135px;">
            <div class="modal-header">
                <h2>Import Excel</h2>
                <span id="MasterName">@Session["MasterName"]</span>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("importexcel", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmimportLaneRate" }))
                {

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Upload file
                                                         
                                            
                                    </div>
                                    <div class="panel-body">

                                        <div class="row ">

                                            <div class="col-md-6">
                                                <input type="file" id="FileUpload" name="file" class="inputfile inputfile-4 center-block form-control" required data-val="true" data-val-required="please select a file" accept=".xls,.xlsx">

                                            </div>

                                            <div class="col-md-6">
                                                <input type="submit" id="Submit" class="btn btn-primary btn-sm m-l-sm" value="UploadFile" title="Click to upload file" />
                                               
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    try
                    {
                        <div class="row">
                            <div class="col-sm-12 m-b-lg">
                                <div class="ibox float-e-margins">
                                    <div class="table-responsive" id="pnl-rates" style="overflow: auto;height: 340px">
                                        <table class="table table-striped" id="RateList">
                                            <thead class="ibox-title">
                                                <tr>
                                                    @foreach (System.Data.DataColumn col in Model.dtTable.Columns)
                                                    {
                                                        <th>@col.Caption</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (System.Data.DataRow row in Model.dtTable.Rows)
                                                {
                                                    <tr>
                                                        @foreach (System.Data.DataColumn col in Model.dtTable.Columns)
                                                        {
                                                            <td>
                                                                @row[col.ColumnName]
                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                    catch { }
                }

            </div>
            <div class="modal-footer">
                <a href="~/Excelsheet/Product_Master.xlsx" class="btn btn-primary btn-sm m-l-sm product" target="_blank">Download Excel</a>
                <a href="~/Excelsheet/Area_Master.xlsx" class="btn btn-primary btn-sm m-l-sm area" target="_blank">Download Excel</a>
                <a href="~/Excelsheet/Emlpoyee_Master.xlsx" class="btn btn-primary btn-sm m-l-sm Employee" target="_blank">Download Excel</a>
                <a href="~/Excelsheet/Vehical_Master.xlsx" class="btn btn-primary btn-sm m-l-sm Vehical" target="_blank">Download Excel</a>
                <a href="~/Excelsheet/Customer_Master.xlsx" class="btn btn-primary btn-sm m-l-sm Customer" target="_blank">Download Excel</a>
                <input class="btn-primary area" type="submit" id="btnsave" value="Save" title="ClickToSave" onclick="SaveData();" />
                <input class="btn-primary product" type="submit" id="btnsaveForProductMaster" value="Save" title="ClickToSave" onclick="SaveDataForProductMaster();" />
                <input class="btn-primary Employee" type="submit" id="btnsaveForEmployeeMaster" value="Save" title="ClickToSave" onclick="SaveDataForEmployeeMaster();" />
                <input class="btn-primary Vehical" type="submit" id="btnsaveForVehicalMaster" value="Save" title="ClickToSave" onclick="SaveDataForVehicalMaster();" />
                <input class="btn-primary Supplier" type="submit" id="btnsaveForVehicalMaster" value="Save" title="ClickToSave" onclick="SaveDataForSupplierMaster();" />
                <input class="btn-primary Customer" type="submit" id="btnsaveForCustomerMaster" value="Save" title="ClickToSave" onclick="SaveDataForCustomerMaster();" />

                <a href="~/Excelsheet/Supplier_Master.xlsx" class="btn btn-primary btn-sm m-l-sm Supplier" target="_blank">Download Excel</a>
                @*<input type="button" class="btn-danger" id="btncancel" value="Cancel" title="ClickToCancel" />*@

            </div>
        </div>
    </div>

</body>
</html>

    <script>
        
        if ($("#MasterName").text() == "ProductMaster")
        {
            $(".area").hide();
            $(".product").show();
            $(".Employee").hide();
            $(".Vehical").hide();
            $(".Supplier").hide();
            $(".Customer").hide();
        }
        if ($("#MasterName").text() == "AreaMaster") {
            $(".area").show();
            $(".product").hide();
            $(".Employee").hide();
            $(".Vehical").hide();
            $(".Supplier").hide();
            $(".Customer").hide();
        }
        if ($("#MasterName").text() == "EmployeeMaster") {
            $(".Employee").show();
            $(".product").hide();
            $(".area").hide();
            $(".Vehical").hide();
            $(".Supplier").hide();
            $(".Customer").hide();
        }
        if ($("#MasterName").text() == "VehicalMaster") {
            $(".Vehical").show();
            $(".product").hide();
            $(".area").hide();
            $(".Employee").hide();
            $(".Supplier").hide();
            $(".Customer").hide();
        }
        if ($("#MasterName").text() == "SupplierMaster") {
            $(".Vehical").hide();
            $(".product").hide();
            $(".area").hide();
            $(".Employee").hide();
            $(".Supplier").show();
            $(".Customer").hide();
        }
        if ($("#MasterName").text() == "CustomerMaster") {
            $(".Vehical").hide();
            $(".product").hide();
            $(".area").hide();
            $(".Employee").hide();
            $(".Supplier").hide();
            $(".Customer").show();
        }
        function SaveData() {
               
                var idArr = [];

                $('tbody tr').each(function (k, v) {
                    var trElement = $(this);
                    var tdVals = trElement.find('td:eq(0)').text().trim() + '~' +
                        trElement.find('td:eq(1)').text().trim() 
                        
                        idArr.push(tdVals);
                });
                var SaveLaneRate = [];
                for (var i = 0; i < idArr.length; i++) {
                    var arrElement = idArr[i].split("~");
                    
                    item = {}
                    item["Area"] = arrElement[0];
                    item["CityId"] = 1;
                    SaveLaneRate.push(item);
                    
                }
              
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("SaveAreaExcelData", "Home")",
                    method: 'POST',
                    async: 'false',
                    dataType: 'json',
                    data: JSON.stringify({
                        SaveLaneRate: SaveLaneRate
                    }),
                    success: function (result) {
                        alert(result);
                       
                    },
                    error: function () {
                        alert('Error');
                    }
                });
        }

        function SaveDataForProductMaster() {
               
                var idArr = [];

                $('tbody tr').each(function (k, v) {
                    var trElement = $(this);
                    var tdVals = trElement.find('td:eq(0)').text().trim() + '~' +
                        trElement.find('td:eq(1)').text().trim() + '~' +
                        trElement.find('td:eq(2)').text().trim() + '~' +
                        trElement.find('td:eq(3)').text().trim() + '~' +
                        trElement.find('td:eq(4)').text().trim()
                       
                        
                        idArr.push(tdVals);
                });
                var SaveLaneRate = [];
                for (var i = 0; i < idArr.length; i++) {
                    var arrElement = idArr[i].split("~");
                    
                    item = {}
                    item["Product"] = arrElement[0];
                    item["ProductBrandID"] = arrElement[1];
                    item["Brandtype"] = 1;
                    item["CrateSize"] = arrElement[3];
                    item["GST"] = arrElement[4];
                    
                    SaveLaneRate.push(item);
                    
                }
              
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("SaveProductExcelData", "Home")",
                    method: 'POST',
                    async: 'false',
                    dataType: 'json',
                    data: JSON.stringify({
                        SaveLaneRate: SaveLaneRate
                    }),
                    success: function (result) {
                        alert(result);
                       
                    },
                    error: function () {
                        alert('Error');
                    }
                });
            }

        function SaveDataForEmployeeMaster() {
               
                var idArr = [];

                $('tbody tr').each(function (k, v) {
                    var trElement = $(this);
                    var tdVals = trElement.find('td:eq(0)').text().trim() + '~' +
                        trElement.find('td:eq(1)').text().trim() + '~' +
                        trElement.find('td:eq(2)').text().trim() + '~' +
                        trElement.find('td:eq(3)').text().trim() + '~' +
                        trElement.find('td:eq(4)').text().trim()
                       
                        
                        idArr.push(tdVals);
                });
            var SaveEmployeeData = [];
                for (var i = 0; i < idArr.length; i++) {
                    var arrElement = idArr[i].split("~");
                    
                    item = {}
                    item["EmployeeName"] = arrElement[0];
                    item["Address"] = arrElement[1];
                    item["AreaID"] = 1;
                    item["Mobile"] = arrElement[3];
                    item["UserdId"] = arrElement[4];
                    
                    SaveEmployeeData.push(item);
                    
                }
              
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("SaveEmployeeExcelData", "Home")",
                    method: 'POST',
                    async: 'false',
                    dataType: 'json',
                    data: JSON.stringify({
                        SaveEmployeeData: SaveEmployeeData
                    }),
                    success: function (result) {
                        alert(result);
                       
                    },
                    error: function () {
                        alert('Error');
                    }
                });
        }

        
        function SaveDataForVehicalMaster() {
               
                var idArr = [];

                $('tbody tr').each(function (k, v) {
                    var trElement = $(this);
                    var tdVals = trElement.find('td:eq(0)').text().trim() + '~' +
                        trElement.find('td:eq(1)').text().trim() + '~' +
                        trElement.find('td:eq(2)').text().trim() + '~' +
                        trElement.find('td:eq(3)').text().trim() + '~' +
                        trElement.find('td:eq(4)').text().trim() + '~' +
                        trElement.find('td:eq(5)').text().trim() + '~' +
                        trElement.find('td:eq(6)').text().trim() + '~' +
                        trElement.find('td:eq(7)').text().trim() 
                       
                        
                        idArr.push(tdVals);
                });
            var SaveVehicalData = [];
                for (var i = 0; i < idArr.length; i++) {
                    var arrElement = idArr[i].split("~");
                    
                    item = {}
                    item["Transport"] = arrElement[0];
                    item["Owner"] = arrElement[1];
                    item["Address"] = arrElement[2];
                    item["Mobile"] = arrElement[3];
                    item["VechicleNo"] = arrElement[4];
                    item["Marathi"] = arrElement[5];
                    item["RatePerTrip"] = arrElement[6];
                    item["PrintOrder"] = arrElement[7];
                    SaveVehicalData.push(item);
                    
                }
              
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("SaveVehicalExcelData", "Home")",
                    method: 'POST',
                    async: 'false',
                    dataType: 'json',
                    data: JSON.stringify({
                        SaveVehicalData: SaveVehicalData
                    }),
                    success: function (result) {
                        alert(result);
                       
                    },
                    error: function () {
                        alert('Error');
                    }
                });
        }


        function SaveDataForSupplierMaster() {
               
                var idArr = [];

                $('tbody tr').each(function (k, v) {
                    var trElement = $(this);
                    var tdVals = trElement.find('td:eq(0)').text().trim() + '~' +
                        trElement.find('td:eq(1)').text().trim() + '~' +
                        trElement.find('td:eq(2)').text().trim() + '~' +
                        trElement.find('td:eq(3)').text().trim() + '~' +
                        trElement.find('td:eq(4)').text().trim() + '~' +
                        trElement.find('td:eq(5)').text().trim() + '~' +
                        trElement.find('td:eq(6)').text().trim() + '~' +
                        trElement.find('td:eq(7)').text().trim() + '~' +
                        trElement.find('td:eq(8)').text().trim()
                                            
                        idArr.push(tdVals);
            });

                var SaveSupplierData = [];
                for (var i = 0; i < idArr.length; i++) {
                    var arrElement = idArr[i].split("~");
                    
                    item = {}
                    item["VendorName"] = arrElement[0];
                    item["Address"] = arrElement[1];
                    item["EmailID"] = arrElement[2];
                    item["AreaID"] = 1;
                    item["CityID"] = 1;
                    item["OfficeNumber"] = arrElement[5];
                    item["ContactPerson"] = arrElement[6];
                    item["PersonMobileNo"] = arrElement[7]
                    item["IsActive"] = arrElement[8];
                   
                    if (item["IsActive"] == 1)
                    {
                        item["IsActive"] = true;
                    }
                    else if (arrElement[8] == 0)
                    {
                        item["IsActive"] = false;
                    }
                   
                  
                    SaveSupplierData.push(item);
                    
                }
              
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("SaveSupplierExcelData", "Home")",
                    method: 'POST',
                    async: 'false',
                    dataType: 'json',
                    data: JSON.stringify({
                        SaveSupplierData: SaveSupplierData
                    }),
                    success: function (result) {
                        alert(result);
                       
                    },
                    error: function () {
                        alert('Error');
                    }
                });
        }


         function SaveDataForCustomerMaster() {
               
                var idArr = [];

                $('tbody tr').each(function (k, v) {
                    var trElement = $(this);
                    var tdVals = trElement.find('td:eq(0)').text().trim() + '~' +
                        trElement.find('td:eq(1)').text().trim() + '~' +
                        trElement.find('td:eq(2)').text().trim() + '~' +
                        trElement.find('td:eq(3)').text().trim() + '~' +
                        trElement.find('td:eq(4)').text().trim() + '~' +
                        trElement.find('td:eq(5)').text().trim() + '~' +
                        trElement.find('td:eq(6)').text().trim() + '~' +
                        trElement.find('td:eq(7)').text().trim() + '~' +
                        trElement.find('td:eq(8)').text().trim() + '~' +
                        trElement.find('td:eq(9)').text().trim() + '~' +
                        trElement.find('td:eq(10)').text().trim() + '~' +
                        trElement.find('td:eq(11)').text().trim() + '~' +
                        trElement.find('td:eq(12)').text().trim()
                       
                        
                        idArr.push(tdVals);
                });
             
             var SaveCustomerData = [];
                for (var i = 0; i < idArr.length; i++) {
                    var arrElement = idArr[i].split("~");
                    
                    item = {}
                    item["CustomerName"] = arrElement[0];
                    item["Address"] = arrElement[1];
                    item["Mobile"] = 1;
                    item["AreaID"] = arrElement[4];
                    item["SalesPersonID"] = arrElement[5];
                    item["VehicleID"] = arrElement[6];
                    item["CustomerTypeId"] = arrElement[7];
                    item["CustomerNameEnglish"] = arrElement[8];
                    item["LastUpdatedDate"] = arrElement[9];
                    item["isBillRequired"] = arrElement[10];
                    item["isActive"] = arrElement[11];
                    item["DeliveryCharges"] = arrElement[12];
                    
                    SaveCustomerData.push(item);
                    
                }
              
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("SaveCustomerExcelData", "Home")",
                    method: 'POST',
                    async: 'false',
                    dataType: 'json',
                    data: JSON.stringify({
                        SaveCustomerData: SaveCustomerData
                    }),
                    success: function (result) {
                        alert(result);
                       
                    },
                    error: function () {
                        alert('Error');
                    }
                });
            }


    </script>
